{% extends "layout.njk"%}
{% block head %}
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/header.css">
    <link rel="stylesheet" href="/admin/create.css">
    <link rel="stylesheet" href="/admin/main.css">
    <script src="/add.js" defer></script>
    <title>Foodfy</title>
{%endblock%}
{% block header %}
    <header>
      <div>
        <a id="header-home" href="/admin/recipes"><img src="/logo2.png" alt="Logo FoodFy"/></a>
      </div>
    </header>
{% endblock %}
{% block content %}
  <main class="content">
    <form method="POST" action="/admin/recipes">
      <div class="top">
        <h2>Criando receita</h2>
        <button type="submit" class="button-purple">Salvar receita</button>
      </div><!--top-->
      {% include "admin/fields.njk"%}
    </form>
  </main>
{% endblock %}

