<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <script src="/script.js" defer="defer"></script>

        {%block head%}
            {%endblock%}

        </head>
        <body>

            {%block header%}
                {%endblock%}

                {%block content%}
                    {%endblock%}

                    {%block footer%}
                        {%endblock%}
                    </body>
                </html>