<!DOCTYPE html>
<html lang="pt-BR">
<head>

    {%block head%}
    {%endblock%}
    
</head>
<body>
    
    {%block header%}
    {%endblock%}

    {%block content%}
    {%endblock%}

    {%block footer%}
    {%endblock%}

</body>
</html>