.about h1 {
    font-size: 24px;
    padding-bottom: 20px;
}

.about p {
    color: #444;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 30px;
}


footer {
    margin: 43px 0 23px 0;
    text-align: center;
}

footer span {
    color: #999;
}